/*heading1*/
.heading{
    float: left;
    margin-left: 40%;
    width: 15%;
    height: 100%;
   
}
#heading .fas{
    float: left;
  
    font-size: 32px;
    margin-top: 15px;
    color: green;
    
}
#heading p{
    float: left;
    margin-top:5%;
    font-size: 1.25rem;
    margin-left: 3%;
    text-transform: uppercase;
    color: #37474F;
    width: 80%;
  
}
/*heading1*/
.clear{
    clear: both;
}
/*heading2*/
.fa-lock{
    float: left;
    margin-left: 65%;
    font-size: 1.25rem;
    color: #FF7043;
    margin-top: 10px;
}
#heading2 p{
    color: #FF7043;
    float: left;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: 10px;
margin-left: 1%;
}
/*heading2*/
/*signin*/
.div1{
    background-color: #BDBDBD;
    height: 70px;
    border-radius: 2px;
}
.fa-check{
    color: green;
    font-size:1.875rem;
    margin: 1.25rem;
    float: left;
}
.div1 h3{
    float: left;
    font-family:  'Open Sans-700', sans-serif
}
.div1 p{
    float: left;
    margin-left: 4.5%;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.div1 button{
    float: right;
    border: none;
    color: #FF3D00;
    background-color: white;
    margin: 1.25rem;
    font-size: 0.875rem;
  
    height: 40px;
    width: 10%;
   
    cursor: pointer;
   font-family: 'PTSans-Bold-400';
  margin-top: 10px;
}
/*signin*/
/*delivery*/
.div2{
    margin-top: 30px;
    background-color: #BDBDBD;
    height: 70px;
    border-radius: 2px;
}
.div2 > h3{
margin-left: 7%;
font-family: 'Open Sans-700', sans-serif;
margin-bottom: 5px;
}
.div2 > p{
    visibility: hidden;
    font-size: 5px;
}
/*delivery*/
/*buttons*/
.div3{
margin-top: 15px;
    height: 50px;
    border-radius: 2px;
}
/*buttons*/
/*inputs*/
.div4{
    height:600px;
    width: 100%;
    
}
/*inputs*/
/*make payment*/
.div5{
    margin-top: 30px;
    background-color: #BDBDBD;
    height: 70px;
    border-radius: 2px;
}
.div5 > h3{
  margin-left: 7%;
    font-family: 'Open Sans-700', sans-serif;
padding: 10px;
float: left;
color: #757575;
    }
    .div5 > h4{
        float: left;
        margin-left: 20%;
        font-size: 24px;
        margin-bottom: 5px;
  color: #757575;
    }   
/*make payment*/