/*Header part*/
body{
    overflow-x: hidden;
}

nav{
    height: 80px;
    width: 100%;
  position: fixed;
  background-color: white;
  margin-top: -100px;
  margin-left: -0.25%;
}
.fa-store-alt{
    margin-top: 27px;
    margin-left:7.75%;
    color: #616161;
    float: left;
    font-size: 17px;
    cursor: pointer;
    width: 1.5%;

}
.fa-id-badge{
float: left;
color: #616161;
font-size: 23px;
margin-left: 1.75%;
margin-top: 24px;
cursor: pointer;
width:1.5%;
}
.fa-sliders-h{
    float: left;
color: #616161;
font-size: 23px;
margin-left:1.75%;
margin-top: 24px;
cursor: pointer;
width: 1.5%;
}
.fa-sliders-h:hover{
    font-size: 30px;
}
nav p{
    color: #616161;
    float: left;
    font-size: 20px;
    margin-left: 0.6%;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading{
    width: 11%;
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
    font-family:Open Sans font;
    float: left;
    height: 40px;
   margin-top: 12px;
    margin-left: 15%;
    cursor: pointer;
}
nav input[type="search"]{
    float: left;
    margin-left: 1%;
font-size: 17px;
border: none;
border-radius: 30px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 17.5%;
margin-top: 20px;
color: #616161;
}
.fa-search{
    float: left;
    margin-left: 0.35%;
    font-size: 24px;
    color: #616161;
margin-top: 26px;
cursor: pointer;

}
.heart{
    float: left;
    width:3%;
    height: 60px;
     cursor: pointer;
     margin-left: 0.75%;
  margin-top: 5px;
}
.suitcase{
    float: left;
   width: 3%;
   height: 60px;
    cursor: pointer;
    margin-left: 0.25%;
 margin-top: 5px;
}
.circle{
    float: left;
    width: 3%;
    height: 60px;
     cursor: pointer;
     margin-left: 0.25%;
  margin-top: 5px;
}
.clear{
    clear: both;
}
/*Header part*/
/*line part*/
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 50px;
}
h1+p{
    text-align: center;
    color: #616161;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*line part*/
/*grid part*/
#grid1,#grid2,#grid3,#grid4,#grid5{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-gap: 5%;
    margin-left: 15%;
margin-top: 100px;
}
#grid1 img,#grid2 img,#grid3 img,#grid4 img,#grid5 img{
    width: 100%;
    cursor: pointer;
}
/*grid part*/
/*slider part*/
.slider{
    width:100%;
    height: 500px;
border-radius: 10px;
margin-top: 100px;
margin-right: 50px;
margin-top: 0px;padding-top: 100px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    ;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 500px;
   
}
.navigation-manual{
position: absolute;
width: 100%;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 2%;
}
.manual-btn:hover{
    background: black;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -20%;
}
#radio3:checked~.first{
    margin-left: -40%;
}
#radio4:checked~.first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 2%;
}
#radio1:checked~ .navigation-auto .auto-btn1{
    background: orange;
}
#radio2:checked~ .navigation-auto .auto-btn2{
    background: orange;
}
#radio3:checked~ .navigation-auto .auto-btn3{
    background: orange;
}
#radio4:checked~ .navigation-auto .auto-btn4{
    background: orange;
}
/*slider part*/
#main{
    margin: 10px auto;
    background-color:black;
    color:white;
    width:100%;
    display: flex;
}
#main a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}
#main ul{
    margin-left: 3%;
    line-height: 25px;

}

/*slider part*/

#cadio1:checked~.first{
    margin-left: 0;
}
#cadio2:checked~.first{
    margin-left: -20%;
}
#cadio3:checked~.first{
    margin-left: -40%;
}
#cadio4:checked~.first{
    margin-left: -60%;
}


#cadio1:checked~ .navigation-auto .auto-btn1{
    background: orange;
}
#cadio2:checked~ .navigation-auto .auto-btn2{
    background: orange;
}
#cadio3:checked~ .navigation-auto .auto-btn3{
    background: orange;
}
#cadio4:checked~ .navigation-auto .auto-btn4{
    background: orange;
}
/*slider part*/

/*grid part*/
#grid6{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    grid-gap: 3%;
   grid-template-rows: 25% 25% 25% 25%;
margin-top: 100px;
margin-bottom: 150px;
}
#grid6 img{
    width: 100%;
    cursor: pointer;
}
#grid7{
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 3%;
   grid-template-rows: 50% 50%;
margin-top: 100px;
margin-bottom: 150px;
margin-left: 8%;
}
#grid7 img{
    width: 100%;
    cursor: pointer;
}
#grid8{
    display: grid;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 3%;
   grid-template-rows: 50% 50%;
margin-top: 100px;
margin-bottom: 150px;
margin-left: 8%;
}
#grid8 img{
    width: 100%;
    cursor: pointer;
}
#grid9{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-gap: 2%;
  
margin-top: 100px;
margin-bottom: 100px;

}
#grid9 img{
    width: 100%;
    cursor: pointer;
}
/*grid part*/
/* header data */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#navbar {
    margin-top: 0px;
    margin: auto;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;
}

#navbar div {
    display: inline-flex;
    flex-wrap: wrap;
}

#left a {
    text-decoration: none;
    color: #111111;
    padding-left: 20px;
    /* margin: 20px auto; */
cursor: pointer;
}

#right button {
    background-color: white;
    border: none;
    cursor: pointer;

}

#right button img {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;

}

#right {
    margin: 20px auto;
    float: right;
    cursor: pointer;

}

#logo {
    display: block;
    margin-left: 150%;
    margin-top: 12px;
    cursor: pointer;
    cursor: pointer;

}
/* car value */
#lblCartCount {
    font-size: 14px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -8px;
    height:20px;
    
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}


.badge-warning[href] {
  background-color: #c67605;
}
/* for wish list */
#lblwishlistCount {
    font-size: 14px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -8px;
    height:20px;
}
.badgew {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
/* profile */

.dropbtn {
    background-color: white;
    color: white;
    /* padding: 16px; */
    font-size: 14px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    border: 1px solid orangered;

  }
  
  .dropdown-content a {
    color: orangered;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:white;}

  header{
      /* height:30px; */
      margin-right: 20px;
  }
  #length{
    width: 65%;
    height: 350px;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 17.5%;
  }
  #length img{
      width: 100%;
  }
  #dorr{
    width: 100%; height: 600px; margin-top: 100px
  }
  .orae{
    background-color: #B0BEC5;
  }
  #notorae{
    background-color: #B2EBF2;
  }
/*footer*/
  #wqqqq{
    width:260px;height:40px;background-color: black;color: white;border-color: white;margin-top: 30px;
  }
  #naii{
    width: 20%; height: 100%; margin-left: 7%
  }
  .blee{
    width: 20%; height: 100%; margin-left: 15%
  }
  #huoo{
    height: 150px; width: 100%; margin-top: 80px
  }
  #grfe{
    height: 150px; width: 100%; background-color: #f5f5f5
  }
  #fvrv{
    float: left; margin-left: 7%; height: 100%; width: 20%
  }
  #fefvcfe{
    float: left; margin-left: 10%; height: 100%; width: 30%
  }
  #revefcv{
    float: left; margin-left: 15%; height: 100%; width: 10%
  }
  /*footer*/