nav{
    height: 40px;
    width: 100%;
  
   
}
.fa-store-alt{
    margin-top: 27px;
    margin-left: 155px;
    color: #616161;
    float: left;
    font-size: 17px;
    cursor: pointer;
    

}
.fa-id-badge{
float: left;
color: #616161;
font-size: 23px;
margin-left: 35px;
margin-top: 24px;
cursor: pointer;

}
.fa-sliders-h{
    float: left;
color: #616161;
font-size: 23px;
margin-left: 35px;
margin-top: 24px;
cursor: pointer;
}
.fa-sliders-h:hover{
    font-size: 30px;
}
nav p{
    color: #616161;
    float: left;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading{
    width: 220px;
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
    font-family:Open Sans font;
    float: left;
    height: 40px;
   margin-top: 12px;
    margin-left: 300px;
}
nav input[type="search"]{
    float: left;
    margin-left: 20px;
font-size: 17px;
border: none;
border-radius: 30px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 350px;
margin-top: 20px;
color: #616161;
}
.fa-search{
    float: left;
    margin-left: 7px;
    font-size: 24px;
    color: #616161;
margin-top: 26px;
cursor: pointer;

}
.heart{
    float: left;
    width: 60px;
    height: 60px;
     cursor: pointer;
     margin-left: 15px;
  margin-top: 5px;
}
.suitcase{
    float: left;
   width: 60px;
   height: 60px;
    cursor: pointer;
    margin-left: 5px;
 margin-top: 5px;
}
.circle{
    float: left;
    width: 60px;
    height: 60px;
     cursor: pointer;
     margin-left: 5px;
  margin-top: 5px;
}
.clear{
    clear: both;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 50px;
}
h1+p{
    text-align: center;
    color: #616161;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#grid1,#grid2,#grid3,#grid4,#grid5{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 100px;
    margin-left: 300px;
margin-top: 100px;
}


.slider{
    width:2000px;
    height: 500px;
border-radius: 10px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 2000px;
    height: 500px;
}
.navigation-manual{
position: absolute;
width: 2000px;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: black;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -20%;
}
#radio3:checked~.first{
    margin-left: -40%;
}
#radio4:checked~.first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 2000px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked~ .navigation-auto .auto-btn1{
    background: orange;
}
#radio2:checked~ .navigation-auto .auto-btn2{
    background: orange;
}
#radio3:checked~ .navigation-auto .auto-btn3{
    background: orange;
}
#radio4:checked~ .navigation-auto .auto-btn4{
    background: orange;
}
.last1 img{
   width: 100px;
    height: 40%;
    margin: 10%;
    float: left;
    margin-top: 30px;
}
.last1 p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #757575;
    margin-top: 20px;
}